.Btn-rojo-redondo
  border none
  border-radius initial
  border-radius 25px
  color #fff
  font-family Roboto-Bold
  background-color #ca0404
  padding 10px 25px
  cursor pointer
  font-size 16px
  transition .3s
  &:hover
    background-color #8e0101
.M-top
  margin-top 10px

.Btn-negro-redondo
  border none
  border-radius initial
  border-radius 25px
  color #fff
  font-family Roboto-Bold
  background-color #000
  padding 10px 25px
  cursor pointer
  font-size 16px
  transition .3s
  &:hover
    background-color #000
  