.Contacto
  background-color #000
  width 100%
  position relative
  &-int
    max-width 1240px
    padding 20px 0px
    margin 0px auto
  &-secciones
    width 100%
    display flex
    &-int
      padding 20px
      width 50%
.Contacto-titulo
  text-align center
  h3
    color #fff
.Forms-contacto
  width 100%
  input[type=text], input[type=email] 
    border none
    height 45px
    font-size 16px
    padding 5px 10px
    border-radius 3px
    width 100%
    outline none
    margin-bottom 10px
    border 1px solid #292929
    font-family Roboto-Regular
    transition .3s
    &:focus
      border 1px solid #ca0404
  label
    color #fff
    font-size 12px
    margin-bottom 5px
    display block
  textarea
    border none
    height 80px
    font-size 16px
    padding 5px 10px
    border-radius 3px
    width 100%
    outline none
    font-family Roboto-Regular
    margin-bottom 10px
    border 1px solid #292929
    transition .3s
    &:focus
      border 1px solid #ca0404
 .Mapa
    width 100%
    padding-top 20px
    &-int
      width 100%
.Checkline
  display inline-block !important
#map
  width 100%
  height 380px
.Pagosonline
  width 100%
  max-width 1240px
  margin 0px auto
  padding-bottom 30px
  &__int
    text-align center
    position relative
    padding 30px 0px
    p
      margin 20px 0px
  &__boton
    padding 20px 0px
    margin 20px 0px
@media screen and (max-width: 1024px)
  .Contacto-int
    width 95%
  .Contacto-secciones
    display block
    &-int
      width 100%
  .Pagosonline
    max-width 80%

