.Productos-destacados
  width 100%
  background-color #fff
  &-int
    max-width 1240px
    margin 0px auto
    padding 2em 0px
  &-titulo
    text-align center
    h3
      color #000
  &-contenedor
    display flex
    width 100%
    justify-content space-between
    margin-bottom 20px
    margin-top 20px
.Producto-ficha
  width 250px
  border-radius 10px
  background-color #fff
  position relative
  cursor pointer
  transition .3s ease-out
  &:hover
    transition .3s ease-out
    box-shadow 0 2px 10px 2px #c7c7c7
  &-arriba
    height 229px
    overflow hidden
    padding 10px
    width 100%    
    border-bottom 1px solid #ddd
  &-imagen
    text-align center    
    width 100%
    img
      width 100%
  &-abajo
    position reltive
    padding 10px
    width 100%
  &-nombre
    padding 10px 5px
  &-marca
    padding 0px 5px 10px 5px
    span
      text-transform uppercase
      font-family Poppins-Bold
.Btn-block
  text-align center
  display block
.Productos-conten-vermas
  padding 2em 0px
  margin 0px auto
  text-align center
  width 250px

@media screen and (max-width: 1024px)
  .Productos-destacados-int
    width 95%
  .Productos-destacados-contenedor
    display block
  .Producto-ficha
    margin 0px auto
    margin-bottom 20px
