.Estad
  background-image url('../../dist/assets/images/varilla.jpeg')
  background-attachment fixed
  background-repeat no-repeat
  background-position center center
  background-size cover
  width 100%  
  &-rojo
    background-color #940d0bdb
    padding-bottom 6em
    padding-top 2em
    &-titulo
      text-align center
      padding 20px 0px
      h3
        margin 0px
        color #fff
        padding 20px 0px
    &-contenedor
      max-width 1240px
      margin 0px auto
      display flex
      &-secciones
        width 20%
        padding 10px
        text-align center
        span
          color #fff
          display block
.Numero-grande
  color #fff
  display block
  font-size 60px
  font-family Poppins-Bold
  text-align center


@media screen and (max-width: 1024px)
  .Estad-rojo-contenedor
    display block
    width 95%
    &-secciones
      width 100%
  .Numero-grande
    font-size 40px