header
  width 100%
  position fixed
  z-index 100
  box-shadow 0 2px 5px 0 #00000029, 0 2px 10px 0 #0000001f
.Top-superior
  width 100%
  background-color #000
  &-int
    max-width 1240px
    margin 0px auto
    padding 10px
    // display flex
    &-sec1
      width 30%
    &-sec2
      width 70%     
      
      &-contacto
        text-align right
        ul
          margin 0px
          padding 0px
          li
            display inline-block
            a
              color #fff
              margin 0px 10px
              &:last-child
                margin-right 0px
.Top-inferior
  width 100%
  background-color #fff
  border-bottom 1px solid #ddd
  padding 20px 0px
  &-int
    max-width 1240px
    margin 0px auto
    display flex
    &-sec
      width 50%
      
        
  &-conten
    position relative
    text-align right
    display flex
    justify-content flex-end
    align-items center
    a
      margin-left 20px
    &-buscador
      margin-top 10px      
      position relative
      
.Top-buscador
  width 340px
  display block
  border 1px solid #ddd
  border-radius 30px
  box-shadow 0 2px 5px 1px #c7c7c7
  height 45px
  padding 5px 20px 5px 50px
  font-family Poppins-Light
  font-size 14px
  outline none
  transition .3s
  &:focus
    transition .3s
    border 1px solid #ca0404

.Top-lupita
  position absolute
  left 20px
  top 15px
.Menu-horizontal
  background-color #fff
  position relative
  width 100%
  &-int
    padding 15px 0px
    text-align center
    overflow hidden
    ul
      margin 0px
      padding 0px
      li
        margin 0px
        padding 0px
        display inline-block
        a
          color #ca0404
          padding 15px 20px
          transition .3s
          &:hover
            background-color #ca0404
            transition .3s
            color #fff
            border-bottom 1px solid #000
          i
            margin-right 5px
.Menu-oculto
  display none
.Menu-drop
  width 40px
  margin-right 15px
  float right  
  a
    outline none
    img
      width 40px
      filter brightness(0)
.Ocultabtn
  display none !important
@media screen and (max-width: 1024px)
  .Ocultabtn
    display flex !important
    justify-content center
    a
      color #fff !important
  .Menu-completo
    margin-top 0px
    display block
    ul li
      display block
      border-bottom 1px solid #ddd
      a
        display block
  .Menu-horizontal-int
    padding-bottom 0px
    padding-top 0px
  .Top-superior-int
    display block
    &-sec1, &-sec2
      width 100%
      text-align center
      &-contacto
        text-align center
  .Menu-oculto
    position absolute
    right 0px
    top -54px  
    display block
    z-index 200
  .Top-inferior
    padding 5px 0px
  .Top-inferior-int
    display block
    &-sec
      text-align center
      width 100%
      padding 10px 10px
  .Logo-cem
    width 210px
    margin-right 20px
  .Top-sec-dos
    display none
  .Top-inferior-conten-buscador
    display none
  .Menu-completo-oculto
    display none

