.Mashead
  width 100%
  padding-top 194px
  &-int
    width 100%
    height 160px
    background-image url('../../dist/assets/images/marcas.png')
    background-position center center
    background-repeat no-repeat
    background-size cover
    &-sombra
      background-image linear-gradient(180deg , #f9f9f945 20%, #040404d1 100%)
      width 100%
      height 160px
    &-texto
      width 100%
      padding 20px 0px
      display table      
      position relative
      height 160px
      &-con
        max-width 1240px       
        vertical-align middle
        margin 0px auto
        height 100%
        position relative
        h1          
          text-align left
          font-size 35px
          padding-left 20px
          color #fff
          margin 0px
          bottom 10px
          position absolute
@media screen and (max-width: 1024px)
  .Mashead
    padding-top 70px
  .Mashead-int-texto-con h1
    font-size 26px