.Seccion-nosotros
  width 100%
  position relative
  padding 2em 0px
  &-int-sencillo
    max-width 1240px
    margin 0px auto
    padding 2em 0px
    display block
    p
      text-align justify
      margin-top 0px
      line-height 24px
      ul li
        color #333
        line-height 24px
      ol li
        color #333
        line-height 24px
    ol li
        color #333
        line-height 24px
        
      
  &-int-doble
    max-width 1240px
    margin 0px auto
    display flex    
    &-sec
      width 50%
      padding 10px
      p
        text-align justify
        margin-top 0px
        line-height 24px
      ul li
        color #333
      ol li
        color #333
      img
        width 100%

@media screen and (max-width: 1024px)
  .Seccion-nosotros-int-doble
    width 95%
    display block
    &-sec
      width 100%
  .Seccion-nosotros-int-sencillo
    width 95%
    display block
    padding 10px

    
