.Pagoslinea
  max-width 1024px
  margin 0px auto
  padding 40px 0px
  &__form
    max-width 100%
.Forms
  position relative
  width 100%
  padding 10px 0px
  &__sec
    width 50%
    margin-right 20px
    &:last-child
      margin-right 0px
  label
    font-size 12px
    margin-bottom 5px
    display block
    color #333
  input[type=text], input[type=email], input[type=number], select
    width 100%
    height 45px
    font-size 16px
    padding 5px 10px
    border-radius 3px
    outline none
    border 1px solid #292929
    font-family Roboto-Regular
    transition all 0.3s ease-out
    margin-bottom 10px
  input[type=checkbox]
    transform: scale(1.5);
    margin-right 10px
    cursor pointer
    padding 10px
  textarea
    width 100%
    min-height 80px
    font-size 16px
    padding 5px 10px
    border-radius 3px
    outline none
    border 1px solid #292929
    font-family Roboto-Regular
    transition all 0.3s ease-out
    margin-bottom 10px
.Obliga
  color red
  font-size 14px
  // transition all 0.3s ease-out
// @supports (display: flex)
.Flex 
  display flex
  flex-direction row
.Fpoliticas
  color red

@media screen and (max-width: 1024px)
  .Pagoslinea
    width 80%
  .Forms__sec
    width 100%
  .Flex
    flex-direction column
