.Seccion-prodmarcas
  width 100%
  background-color #f2f2f2
  padding 2em 0px
  &-int
    max-width 1240px
    margin 0px auto
    &-contenedor
      display flex
      &-sec1
        width 25%
      &-sec2
        width 75%
        padding 0px 10px
.Vin-poli
  color #ca0404
.Filtro
  background-color #fff
  border-radius 5px
  border 1px solid #ddd
  width 100%
  &-int
    position relative
    ul
      margin 0px
      padding 0px
      li
        display block
        list-style none
        border-bottom 1px solid #ddd
        a
          display block
          font-family Poppins-Bold
          color #666
          padding 15px 15px
          transition .3s
          &:hover
            transition .3s
            background-color #ca0404
            color #fff
.Filtro-celda-activo
  background-color #ca0404
  color #fff

.Conten-modal-completo
  max-width 800px
  margin 0px auto
  display flex
  &-sec
    width 50%
.Whatsapp
  position fixed
  width 70px
  height 70px
  bottom 25px
  right 25px
  z-index 100
  img
    width 100%
.Seccion-filtro
  display none
.Producto-min
  width 220px !important
.Sin-margin-top
  margin-top 0px !important
@media screen and (max-width: 1024px)
  .Ocultar-filtro
    display none
  .Producto-min
    width 100% !important
  .Seccion-prodmarcas-int-contenedor
    display block
    &-sec2
      margin 0px auto
      width 95%
  .Whatsapp
    width 50px
    height 50px
  .Seccion-prodmarcas-int-contenedor-sec1
    width 90%
    margin 0px auto
    margin-bottom 20px
  .Seccion-filtro
    width 100%
    display block
    position relative
    height 50px
    &-int
      width auto
      float right
      padding 0px 25px
      a
        font-family Poppins-Bold      
        display block
        color #000
        i
          font-size 18px
          padding-right 10px
  .Conten-modal-completo
    display block
    &-sec
      width 100%
   