$animationSpeed 40s

// @mixin blanco-gradiente {
//   background linear-gradient(to right,rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%	)
// }
.Marcas
  background-color #fff
  padding 20px 0px 40px 0px
  width 100%
  @keyframes {scroll}
    0%
      transform translateX(0)
    100%
      transform translateX(calc(-250px * 7))
.Marcas-titulo
  text-align center
  padding-bottom 20px
  h3
    color #000
.Slider
  background-color #fff
  overflow hidden
  position relative
  margin 0px auto
  max-width 1240px
  &::before, &::after
    background linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%)
    content ""
    height 200px
    position absolute
    width 200px
    z-index 2
.Slider::after
  right 0
  top 0
  transform rotateZ(180deg)
.Slider::before
  left 0px
  top 0px
.Slider-track
  animation scroll 40s linear infinite
  display flex
  width calc(250px * 8)

.Slider .Slide  
  width 250px
  margin 0px 20px


